.Button {
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  cursor: pointer;
  font: inherit;
  padding: 10px;
  margin: 10px;
  font-weight: bold;
}

.Button:first-of-type {
  margin-left: 0;
  padding-left: 0;
}

.Button:disabled {
  cursor: not-allowed;
  color: #ccc;
}

.Button:not(:disabled) {
  animation: enable 1s ease-in-out;
}

.Success {
  color: #5c9210;
}

.Danger {
  color: #944317;
}

@keyframes enable {
  from {
    transform: scale(1.5);
  }
  to {
    transform: scale(1);
  }
}
